.topSeparation {
  height: 56px;
}

.cardCont {
  margin-top: 2em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputData {
  width: 11em;
  color: grey;
  margin-right: 1em;
}

.options {
  display: flex;
}
