* {
  box-sizing: border-box;
}

html,
body {
  font-family: helvetica neue, helvetica, arial, sans-serif;
  font-weight: 200;
  color: black;
}

.dataUser {
  width: 20%;
}

.tableMonth {
  width: 80%;
}

.days {
  width: 12em;
  height: 2em;
  text-align: center;
  color: white;
  border: 1px solid rgba(128, 128, 128, 0.342);
}

.week {
  display: flex;
}

.menu {
  width: 100%;
  height: 8em;
  display: flex;
  align-items: center;
}

.dataDays {
  text-align: center;
}
td {
  text-align: center;
}

.topSeparation {
  height: 56px;
}

.calendaryCont {
  display: flex;
  width: 100%;
  height: auto;
}

.headData {
  height: 6em;
  border: 1px solid black;
}

.monthDays {
  text-align: center;
  border: 1px solid rgba(128, 128, 128, 0.342);
}

.cardCont {
  width: 100%;
  height: 6em;
}

.inputData {
  width: 11em;
  color: grey;
  margin-right: 1em;
}
