@font-face {
  font-family: "Poppins-Regular";
  src: url(../fonts/poppins/Poppins-Regular.ttf);
}

body {
  background-image: url(../images/form-wizard-bg.jpg);
}

.formCont {
  min-height: 92.5vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.formIndividual {
  width: 80%;
  height: 35em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #c3c6ca;
  background-color: #fff;
}

.formColumn {
  width: 30%;
  height: 95%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.formColumn:nth-child(3) {
  align-items: flex-end;
}

.topSeparation {
  height: 56px;
}

.imgCont {
  width: 4em;
  height: 4em;
  border-radius: 50%;
  background-image: url(../images/team.png);
  background-size: cover;
}

.formInput {
  height: 30px;
  border: none;
  border-bottom-color: currentcolor;
  border-bottom-style: none;
  border-bottom-width: medium;
  border-bottom: 1px solid #333;
  width: 100%;
  background: none;
  font-weight: 600;
  border-radius: none;
}

input {
  font-family: "Poppins-Regular";
  font-size: 13px;
  color: #333;
  outline: none;
  margin-bottom: 1.5em;
}

.sendForm {
  width: 7em;
  height: 3em;
  background: #4d4d4d;
  font-family: "Poppins-Regular";
  color: white;
  border: 0;
  line-height: normal;
  overflow: visible;
}

.cardCont {
  width: 25rem;
  height: 6em;
  padding-bottom: 0px;
  margin-bottom: 30px;
  margin-top: 30px;
  flex-direction: unset;
  align-items: center;
  justify-content: space-around;
}

select {
  color: gray;
}

select:hover {
  color: black;
}
