html,
body {
  height: 100%;
  width: 100%;
}

.cardCont {
  margin-top: 2em;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.topSeparation {
  height: 56px;
}

.inputData {
  width: 11em;
  color: grey;
  margin-right: 1em;
}

.warning {
  background-color: #f44336;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.success {
  background-color: #5cb85c;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

table {
  width: 100%;
}

th {
  text-align: center;
}

td {
  text-align: center;
}

.options {
  display: flex;
}
